@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

/* credit to https://www.30secondsofcode.org/articles/s/css-footer-at-the-bottom/ for helping with footer */
body {
    font-family: ubuntu, sans-serif;
    font-weight: 300;
    color: white;
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
}
    /* Checked best color for impaired eyesight */

body {background-color: #3a3a3a
}
body {
    padding: 30px 0;
 }
/* headings and logo */

h1, h2, h3, nav {
    font-family: orbitron, sans-serif;
    text-transform: uppercase;
    color: white;
}

h3 {
    font-weight: 250;
    padding-top: 30px;
}

#logo {
    float:left;
    font-size: 280%;
    margin-left: 35px;
    margin-top: 1px;
}

/* hero image credit pixabay https://pixabay.com/sv/users/pexels-2286921/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1851246">Pexels</a> */

.hero-image {
    
    width: 100%;
    height: 600px;    
    background: url('../images/porsche-gfe38b6777_1920_150.jpg') no-repeat center center;
    background-size: cover;
}

/* navigation links */

#menu {
    font-size: 120%;
}

#menu, #logo {
line-height: 70px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    
}
#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid white;
}
.active {
    border-bottom: 2px solid white;
}
    
         /* history and services */

.history {
   
   text-align: center;
}
/* history text about the car tire */
.text {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom:30px ;
    
}
#center {
    text-align: center;
    padding-top: 50px;
}

hr {
    border-bottom: 2px solid;
    
}
#unordered {
    text-align: center;
    border: 2px solid #CC4949 ;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 25px;
}
/* help from https://www.w3schools.com/howto/howto_css_list_without_bullets.asp */
ul.no-bullets {
    font-family:orbitron ;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }
  .space:not(:last-child) {
    margin-bottom: 10px;
    margin-top: 10px;
  }


/* red box around tire compound, information from https://www.w3schools.com/ */
#boxed {
    border: 2px solid #CC4949 ;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 25px;
     
}
/* image credit to cottonbro studio: https://www.pexels.com/sv-se/foto/bil-fordon-neon-fixa-4488665/ */
.garage {
    width: 100%;
    height: 600px;
    background: url('../images/pexels-cottonbro-studio-4488665_2_300.jpg') no-repeat center center;
    background-size: cover;
    
    
}
/* footer styling, credit to love running project*/

footer {
   height: 150px;
      
}

.social-networks > li {
    display: inline;
   
}

.social-networks {
    text-align:center;
    
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
}

#background {
    background-color: #3a3a3a;
        }
  
.margin {
    margin-bottom: 5%;
}

video {
width: 100%;
height: auto;
}

/* contact form with background, css credit to https://www.w3docs.com/snippets/css/how-to-create-contact-form-with-css.html */ 

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:rgb(30,30,40); }
form { max-width:450px; margin:50px auto; 
       padding-top:20px;      
}

.feedback-input {
  color:white;
  font-family: ubuntu, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', orbitron, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

/* for larger to medium screens size from 1200px wide and down*/
@media screen and (max-width: 1200px) {
    body {
        width: 100%;
        height: 1200px; 
        margin: 0 auto;
    }
  }

/* for medium screen sizes from 950px wide and down*/
 @media screen and (max-width: 950px) {
    #menu {
      clear: left;
      float: left;
      margin-left: 30px;
      margin-right: 30px ;
      margin-bottom: 20px;
      line-height: 25px;  
      display:inline;
      
    } 
 }
 /*  for small screen sizes from 450 px down to 320px */
 @media screen and (max-width: 450px){
 #menu, form {
    clear: left;
    float: left;
    margin-left: 30px;
    margin-right: 30px ;
    margin-bottom: 20px;
    line-height: 25px;  
    display:inline;
    font-size: 70%;

 }
 }

 @media screen and (max-width: 450px){
    #logo {
       clear: left;
       float: left;
       margin-left: 30px;
       margin-right: 30px ;
       margin-bottom: 20px;
       line-height: 25px;  
       display:inline;
       font-size: 150%;
    }
}
 
@media screen and (max-width: 430px) {
.hero-image, #garage {
padding-block: 10px;
position:relative;
    }
}
@media screen and (max-width: 450px){
    body{
        margin-bottom: 0;
        height: 800px;
    }
}
@media screen and (min-width: 800px){
    #unordered {
        text-align: center;
        border: 2px solid #CC4949 ;
        margin-left: 30%;
        margin-right: 30%;
        border-radius: 25px;
}
}

@media screen and (max-width: 430px){
    .garage  { background: url(../images/pexels-cottonbro-studio-small\ \(1\).jpg)  no-repeat;  
        height:400px;
       
    }
}
@media screen and (max-width: 500px){
   .hero-image { background: url(../images/porsche-gc8b9500ec_small.jpg) no-repeat center center;
height:300px
    }
}